<div class="container head">
	<div class="row">
		<div class="col-md-7 col-xs-12 col-sm-12">
			<div class="row introduce">
				<div class="col-md-3 col-xs-3">
					<ul>
						<li class="first">关于我们</li>
						<li>关于贵途</li>
						<li>美丽贵州联盟</li>
						<li>旅游度假资质</li>	
					</ul>	
				</div>
				<div class="col-md-3 col-xs-3">
					<ul>
						<li class="first">联系我们</li>
						<li>微博</li>
						<li>微信</li>
						<li>联系电话</li>
					</ul>
				</div>
				<div class="col-md-3 col-xs-3">
					<ul>
						<li class="first">订购指南</li>
						<li>门票使用</li>
						<li>常见问题</li>
					</ul>
				</div>
				<div class="col-md-3 col-xs-3">
					<ul>
						<li class="first">特色服务</li>
						<li>分销系统</li>
						<li>家庭公寓</li>
						<li>售后服务</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-5 col-xs-12 col-sm-12">
			<ul>
				<li>热线电话:&nbsp;<span class="link-phone">400-888-8888</span></li>
				<li>&nbsp;</li>
				<li>订阅贵途特价、促销信息</li>
				<li>
					<div class="input-group">
					  <input type="text" class="form-control" placeholder="请输入您的Email" />
					  <span class="input-group-addon">订阅</span>
					</div>
				</li>
				<li>&nbsp;</li>
				<li>订阅大数据旅游报</li>
				<li>
					<div class="input-group">
					  <input type="text" class="form-control" placeholder="请输入您的Email" />
					  <span class="input-group-addon">订阅</span>
					</div>
				</li>
			</ul>	
		</div>
	</div>
	<hr/>
	<div class="row info">
		<span>Copyright 2014 guitu.com 贵途网<br/><br/>版权所有 不得转载</span>
	</div>
</div>