<div class="tour-thumbnail">
  <div class="thumbnail">
    <%= link_to image_tag(tour.cover_image.photo.url(:product)), tour if tour.cover_image %>
    <div class="caption">
      <div class="row">
        <div class="col-xs-7">
          <div class="title pull-left"><%= link_to truncate(tour.title, length: 12, omission: ''), tour %></div>
        </div>
        <div class="col-xs-5">
          <div class="pull-right">
            <% if tour.price.blank? %>
              <span class="price_color">暂缺</span>
            <% else %>
              ¥<span class="c_price"><%= tour.price %></span>起
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
