<h1>Listing cities</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <p><%= city.name %></p>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

