/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require pagination
 */

$navbar-height: 60px;
$navbar-margin-bottom: 0;
$navbar-default-bg: #fff;
$navbar-default-border: 0;
$navbar-default-color: #000;
$navbar-default-link-active-color: #ffffff;
$navbar-default-link-hover-color: #ffffff;
$navbar-default-link-active-bg: #48c1ff;
$navbar-default-link-hover-bg: #48c1ff;
$carousel-control-width: 5%;
$carousel-indicator-active-bg: #ff9c49;
$breadcrumb-bg: transparent;
$breadcrumb-separator: ">";
$breadcrumb-padding-vertical: 0;
$breadcrumb-padding-horizontal: 0;
$font-size-base: 13px;
$link-hover-decoration: none;

$color-blue: #2577E3;

@import "bootstrap-sprockets";
@import "bootstrap";

.blue {
	color: $color-blue;
}
.bg-blue {
	background: $color-blue;
}

.nav-tabs.menu-top {
	padding-top: 0px !important;
	border-bottom: 0 !important;
	a, li a:visited {
		padding: 8px 10px 5px 10px;
		font-size: 16px;
		font-weight: bold;
		color: #fff;
		border-radius: 0;
		border-top: 2px solid transparent;
		background: transparent !important;
	}
	li a:hover, li a:active, li.active a {
		color: $color-blue;
		border-top: 2px solid #FFA024;
		background: #fff !important;
	}
}


ul,ol,li {
  list-style: none;
  margin: 0 !important; 
  padding: 0 !important;
}

a {
	text-decoration: none !important;
}

.text-align-center {
	text-align: center;
}

body {
	background: #f3f3f3;
	// padding-top: 70px;
}

.navbar {
	height: $navbar-height;
	.navbar-brand {
		padding-top: 0;	
		img {
			height: $navbar-height;
		}
	}
	.navbar-nav li a {
		text-decoration: none;
	}
	.dropdown-menu {
		background: #48c1ff;
		border: 0px;
		border-radius: 0;
		a {
			height: 40px;
			line-height: 35px;
			color: #ffffff;
		}
	}
	.navbar-nav {
		height: $navbar-height;
	}
	.input-group {
		.form-control, .btn {
			border-radius: 0;
			height: 35px;
		}
	}
}

.carousel-indicators {
	width: auto;	
}

.footer {
	margin-top: 15px;
	.introduce {
		li {
			color: #3c3c3c;
			font-size: 12px;
			height: 25px;
			line-height: 25px;
		}
		li.first {
			text-decoration: underline;
			font-weight: bold;
		}
	}
	hr {
		border-top: 1px solid #d1d1d1;
	}
	.info {
		text-align: center;
		font-size: 13px;
		padding-bottom: 20px;
	}
	.col-md-5 {
		border-left: 1px solid #d1d1d1;
		li {
			font-weight: bold;
			.link-phone {
				color: #ff6600;
				font-size: 22px;
			}
			input {
				border: 1px solid #ff6600;
				font-weight: normal;
				border-radius: 0;
			}
			.input-group-addon {
				background: #ff6600;
				color: #fff;
				font-weight: bold;
				border: 1px solid #ff6600;
				border-radius: 0;
			}
		}
	}
		
}

.top-image img {
	width: 100%;
	max-height: 452px; 
}


.headpic{
	width: 100%;
}

.text_line	{
	font-size: 20px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.title_line	{
	width: 100%;
	height: 42px;
	line-height: 42px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	background: image-url("title_line2.png") no-repeat;
	background-size: 100% 42px;
}
.paddingleft{
	padding-left: 25px;
	width: 48%;
}
.fontsize12{
	font-size: 12px;
}
.timefont{
	font-size: 15px;
	padding: 0px 30px 0px 15px;
}
.withoutpadding{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

ol.breadcrumb {
	height: 40px;
	line-height: 40px;	
}

.blue {
	color: #48c1ff;
}

dl.explain {
	dt {
		font-size: 18px;
	}
	dd {
		font-size: 12px;
		line-height: 22px;
	}
}

.price_color {
	color: #ff6600;
}

.relates {
	background: #fff;
	a {
		color: #ff6600;
		text-decoration: none;
	}
	img {
		width: 100%;
	}
	.thumbnail {
		border: 0px;
		border-bottom: 1px solid #b9b9b9;
		border-radius: 0;
	}
	.last {
		border-bottom: 0px;
	}
}
