// Place all the styles related to the tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "bootstrap";

.tour_list {
	border: 1px solid #cacaca;
	background: #fff;
	.row.item {
		padding-top: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #cacaca;
	}

	.addr {
		img {
			width: 20px;	
		}
	}
	.work_range {
		padding: 15px 0;
	}
	img {
		width: 100%;
	}
	table {
		margin-top: 5px;
	}
	.btn-ticket-more {
		cursor: pointer;
	}

	.ticket-table {
		clear: both;
		margin-top: 5px;
		.info,
		.title {
			margin: 0;
			border-bottom: 1px solid $table-border-color;
		}
		.title {
			padding: 9px 0 9px 0;
			border-top: 1px solid $table-border-color;
			background: $color-bg-gray;
			color: $color-font-gray;	
			font-weight: bold;
		}
		.info {
			padding: 8px 0 8px 0;
		}
		.info.vis {
			display: none;
		}
	}
		
}
#tour-list-map,
.tour_hotels {
	border: 1px solid #cacaca;
	background: #fff;
}
#tour-list-map {
	margin-bottom: 10px;
}

.tour_show {
	.title {
		margin-left: 0px;
		margin-right: 0px;
		border: 1px solid #b9b9b9;
		background: #fff;
		margin-bottom: 10px;
		.col-md-6 {
			padding-left: 0px;
		}
		.info {
			span {
				font-weight: bold;
			}
		}
	}
	.nav-tabs {
		border-bottom: 0px;
		li {
			border-bottom: 0px;
			a, a:hover {
				background: #fff;
				border-radius: 0;
				border: 1px solid #b9b9b9;
				text-decoration: none;
			}
		}
		li.active {
			a, a:visited, a:active, a:hover, a:link {
				border-top: 2px solid #48c1ff;
				border-left: 1px solid #b9b9b9;
				border-right: 1px solid #b9b9b9;
			}
		}
	}
	.tab-pane {
		background: #ffffff;
		border-radius: 0;
		margin-top: -2px;
		border: 1px solid #b9b9b9;
		#home.row, #traffic.row, #instructions.row {
			margin-top: 20px;
			margin-left: 0px;
			margin-right: 0px;
			.col-md-1 {
				margin: 0px;
				padding: 0px;
				.title {
					background: #48c1ff;
					color: #fff;
					text-align: center;
					padding-top: 10px;
					padding-bottom: 10px;
					border:0px;
				}
			}
			#bmap {
				min-height: 400px;
				padding-right: 15px;
			}
		}
	}	
	

}