// Place all the styles related to the tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tour {
	.col-md-3 {
		border: 1px solid #a4a4a4;
		li {
			text-align: center;
			color: #3c3c3c;
		}
	}
}