// Place all the styles related to the tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tour_list {
	border: 1px solid #cacaca;
	background: #fff;
	.row {
		padding-top: 15px;
		padding-bottom: 5px;
		border-bottom: 1px solid #cacaca;
		.tour_image	img {
			width: 100%;
		}
		.tour_info	{
			dt {
				font-size: 20px;
				letter-spacing: 2px;
				span {
					color: #fa2020;
					font-size: 12px;
					font-weight: normal;
					letter-spacing: 0px;
				}
				a {
					text-decoration: none;
				}
			}
			dd {
				color: #5c5c5c;
				font-size: 13px;
			}
			dd.sub {
				font-size: 14px;
				color: #000;
			}
			dd.open {
				color: #000;
				padding-top: 20px;
			}
			dd.addr {
				font-size: 14px;
				color: #4c4c4c;
				padding-top: 20px;
			}
		}
		.tour_price {
			text-align: center;
			.color {
				color: #eb8521;
			}
			.hint {
				font-size: 20px;
				font-weight: bold;
			}
			.size {
				font-size: 40px;
			}
		}
	}	
}

.tour_show {
	.title {
		margin-left: 0px;
		margin-right: 0px;
		border: 1px solid #b9b9b9;
		background: #fff;
		margin-bottom: 10px;
		.col-md-6 {
			padding-left: 0px;
		}
		.info {
			span {
				font-weight: bold;
			}
		}
	}
	.nav-tabs {
		border-bottom: 0px;
		li {
			border-bottom: 0px;
			a, a:hover {
				background: #fff;
				border-radius: 0;
				border: 1px solid #b9b9b9;
				text-decoration: none;
			}
		}
		li.active {
			a, a:visited, a:active, a:hover, a:link {
				border-top: 2px solid #48c1ff;
				border-left: 1px solid #b9b9b9;
				border-right: 1px solid #b9b9b9;
			}
		}
	}
	.tab-pane {
		background: #ffffff;
		border-radius: 0;
		margin-top: -2px;
		border: 1px solid #b9b9b9;
		#home.row, #traffic.row, #instructions.row {
			margin-top: 20px;
			margin-left: 0px;
			margin-right: 0px;
			.col-md-1 {
				margin: 0px;
				padding: 0px;
				.title {
					background: #48c1ff;
					color: #fff;
					text-align: center;
					padding-top: 10px;
					padding-bottom: 10px;
					border:0px;
				}
			}
			#bmap {
				min-height: 400px;
				padding-right: 15px;
			}
		}
	}	
	.hotel {
		padding-left: 0px;
		.content {
			background: #fff;
			border: 1px solid #b9b9b9;
			.hotel-title {
				border: 0px;
				height: 30px;
				line-height: 30px;
				width: 100%;
				span {
					padding-left: 10px;
					text-align: left;
					font-weight: bold;
				}
				a {
					padding-right: 10px;
					float: right;
					color: #ff6600;
					text-decoration: none;
				}
			}
			.thumbnail {
				border:0px;
				text-align: center;
				border-bottom: 1px solid #b9b9b9;
				border-radius: 0;
				margin-left: 10px;
				margin-right: 10px;
				.caption {
					padding-top: 0px;
					padding-bottom: 0px;
					margin-top: 0px;
					margin-bottom: 0px;
				}
			}
		}
	}

}